<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<HTML>
   <HEAD>
      <TITLE>
         SERVER HOSTNAME INFO
      </TITLE>
   </HEAD>
<BODY>
   <H1>Hi</H1>
   <P>My name is {{ ansible_fqdn }}, and my MAC is {{ ansible_default_ipv4.macaddress }}.</P>
</BODY>
</HTML>
